@charset "UTF-8";
/*! 阿里巴巴矢量图标库Iconfont
*  思源黑体-常规
*/
@font-face {font-family: 'webfont';
  src: url('../fonts/webfont.eot'); /* IE9*/
  src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/webfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

.web-font{
  font-family: "webfont" !important;
  font-size: 16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
