@charset "UTF-8";
/*! lixinjie 20180811 https://github.com/xinjie-just/meipo.git */
@import "variables";
@import "reboot";
@import "iconfont";

/*===首页===*/

/*底部*/
.footer {
  @include wrapper-padding(20px, 360px, 60px, 360px);
  background-color: rgba(42, 42, 42, 1);
  color: #fff;
  text-align: center;
  .footer-nav {
    $height: 54px;
    width: 100%;
    @extend %clearfix;
    display: inline-block;
    height: $height + 1px;
    line-height: $height;
    border-bottom: 1px solid rgba(74, 74, 74, 1);
    a {
      display: block;
      float: left;
      position: relative;
      padding-right: 42px;
      padding-left: 42px;
      font-size: 14px;
      color: #fff;
      &:hover {
        color: $main-color;
      }
      &:not(:last-of-type) {
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 18px;
          background-color: #fff;
        }
      }
    }
  }
  .intro {
    width: 100%;
    margin-top: 50px;
    display: inline-block;
    font-size: 0;
    @extend %clearfix;
    .footer-logo {
      display: inline-block;
      vertical-align: middle;
      width: 220px;
      text-align: left;
      font-size: 14px;
      img {
        display: inline-block;
      }
    }
    .other-info {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      line-height: 1.5;
      width: calc(100% - 220px - 200px);
      > div {
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
      .contact {
        strong {
          font-weight: normal;
          &:not(:last-of-type) {
            margin-right: 10px;
          }
          a {
            color: inherit;
          }
        }
      }
    }
    .contact-way {
      width: 200px;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      @extend %clearfix;
      a {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        &:not(:last-of-type) {
          margin-right: 30px;
        }
        i {
          font-size: 1.2em;
          color: inherit;
        }
      }
      .wechat {
        position: relative;
        .qrcode {
          position: absolute;
          display: none;
          bottom: 22px;
          right: 0;
          background-color: #fff;
          padding: 5px;
          font-size: 14px;
          img {
            display: block;
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }
}

/*回到顶部*/
.to-top {
  @include transition(0.6s);
  display: none;
  z-index: 9999;
  position: fixed;
  bottom: 400px;
  left: 50%;
  transform: translateX(600px);
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  opacity: 0.4;
  text-align: center;
  &:hover {
    background-color: $main-color;
  }
  i {
    font-size: 26px;
    color: #fff;
  }
}
